{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
Planet
Vikipediya, azad ensiklopediya
Jump to navigationJump to search

Günəş sistemindən kənarda yerləşən HD 209458 b planetinin fırlanmasının rəssam tərəfindən çəkilmiş xəyali təsviri.
Planet (yun. πλανήτες α') ya da Səyyarə[1] — Günəş ətrafına dolanan və səthi əks olunmuş günəş şüaları ilə işıqlanan göy cismidir.

15-ci əsrədək 7 planet (Günəş, Ay, Merkuri, Venera, Mars, Yupiter və Saturn) olduğu fərz edilirdi. Hesab olunurdu ki, onlar Yer ətrafında fırlanır. XVI əsrdə Nikolay Kopernik Dünyanın heliosentrik sistemini yaratdı və sübut etdi ki, bütün planetlər Günəş ətrafında, Ay isə digər planetlərin peykləri kimi Yerin ətrafında fırlanır. Yer planet, Günəş isə özü şüalandığı üçün ulduzdur.

1781-ci ildə Uran, 1846-cı ildə Neptun və 1930-cu ildə Pluton, daha sonra diametrləri 1 km-dən bir neçə yüz kilometrədək olan kiçik planetlər kəşf edildi.

Günəş sistemində doqquz böyük planet və təqribən 2300 kiçik planet məlumdur (1983-cü il etibarilə). 2006-cı ildən etibarən Beynəlxalq Astronomiya İttifaqının qərarı ilə Pluton planetlər sırasından çıxarıldı və kiçik planetlər adlı yeni qrupa aid edilməyə başladı.

Planetlər daxili və xarici planetlərə bölünür. Birincisi, Merkuri, Venera, Yer və Marsdan (Yer qrupu planetləri), ikincisi isə Yupiter, Saturn, Uran və Neptundan (Nəhəng planetlər qrupu) ibarətdir.

Planetlər Günəş ətrafına cazibə qüvvəsinin təsiri ilə fırlanır, orbitləri elliptikdir, hərəkətləri Kepler qanunlarına tabedir.


Mündəricat
1	Planetlərin əmələ gəlməsi
1.1	Əsas müddəalar
2	Planet əmələ gəlmənin mərhələsi
2.1	Ulduzlararası bulud sıxılır
2.1.1	Kosmik tozun topaları
2.2	Disk öz strukturunu əldə edir
2.2.1	Oliqarxların boy artması
2.3	Planetlərin dölləri( rüşeymləri) formalaşır
2.3.1	Planet sistemi üçün nəhəng sıçrayış
2.4	Qaz nəhəngi yaranır
2.4.1	Dünyaların doğulma tarixi
2.5	Qaz nəhəngi oturaq olmur
2.5.1	Ulduzu necə qucaqlamalı
2.6	Digər planet nəhənglər peyda olur
2.6.1	Ailədə artım
2.7	Yer tipli planetlər əmələ gəlir
2.7.1	Dairəvi olmayan hərəkətin izahı
2.8	Təmizləmə üzrə əməliyyat başlayır
2.8.1	Keçmişdən göndərilənlər.
3	İstinadlar
4	Xarici keçidlər
Planetlərin əmələ gəlməsi
Kosmos miqyasında planetlər – təbiətdəki proseslərin inkişafının nəhəng görünüşündə cüzü rol oynayan, demək olar ki, qum dənəcikləridir. Lakin onlar olduqca müxtəlif və mürəkkəb obyektlərdir. Digər tipdən olan heç bir göy cisimində astronomik, geoloji, kimyəvi və bioloji proseslərin oxşar qarşılıqlı təsiri müşahidə olunmur.

Kosmosdakı digər yerlərin heç birində bizim bildiyimiz kimi həyat yarana bilməz. Son məlumatlara görə astronomlar 4000-dən çox planet aşkar etmişlər.

Planetlərin əmələ gəlməsi uzun zaman ərzində sakit və stasionar proses hesab olunurdu. Həqiqətdə isə olduqca xaotik görsənir.

Onların kütlələrinin, ölçülərinin, tərkiblərinin və orbitlərinin müxtəlif olması bir çoxlarını onların əmələ gəlməsi barədə fikirləşməyə məcbur etdi. 1970-ci illərdə planetlərin əmələ gəlməsi qərarlaşmış, determinə olmunmuş –konveyr- hesab olunurdu, hansındakı amorf qaz-toz diskləri Günəş sisteminin surətinə çevrilirlər. Lakin indi bizə məlumdur ki,bu hər bir sistem üçün müxtəlif nəticənin oldugunu fərz edən xaotik prosesdir. Doğulan planetlər yaranma və dağılmanın rəqabət aparıcı mexanizmlərinin xaosundan sağ çıxmışlar.

Çox obyektlər öz ulduzunun atəşində yanaraq məhv olmuşlar və ya ulduzlararası fəzaya atılmışlar. Bizim Yer planetinin hal-hazırda qaranlıq və soyuq kosmosda gəzən çoxdan itirilmiş əkizləri ola bilər.

Planetlərin yaranması barədə elm astrofizikanın, planetologiyanın, statistik mexanikanın və qeyri-xətti dinamikanın birləşdiyi oblastda özünü təsdiqləyir. Bütövlükdə planetoloqlar iki əsas istiqaməti inkişaf etdirirlər. Ardıcıl akkresiya nəzəriyyəsinə görə, tozun kiçik hissəcikləri birləşir və iri kəsəklər yaradırlar. Əgər belə kəsək özünə çoxlu qaz cəzb edirsə o, qaz nəhənginə ( Yupiter kimi) çevrilir, əgər cəzb etmirsə-daş planetə (Yer kimi).

Bu nəzəriyyənin əsas çatışmazlığı-prosesin ləng getməsi və planetlərin yaranmasına kimi qazın spələnməsinin mümkün olmasıdır.

Digər senaridə (cazibə dayanıqsızlığı nəzəriyyəsi) təsdiq edilir ki,qaz nəhənglər ilkin qaz-toz buludunun dağılmasına gətirən qəfil baş verən kollaps yolu ilə əmələ gəlirlər.Bu prosses kiçik ölçüdə ulduzların əmələ gəlməsini göstərir. Lakin fərziyyə olduqca mübahisəlidir. Belə ki, güclü dayanıqsızlığın olması fərz olunur, hansıkı bu baş verməyə də bilər. Astronomlar həm də eyni zamanda aşkar etmişlər ki, daha böyük kütləli planetlər və daha kiçik kütləli ulduzlar "boşluq"la ayrılıblar (aralıq kütləli cisim sadəcə mövcud deyil). Bu isə onu göstərir ki, planetlər –bu, olduqca kiçik kütləli ulduzlar deyil, tamamilə digər yaranışlı obyektlərdir.[2]

Əsas müddəalar
Hələ 20 il bundan öncə, planetlərin əmələ gəlməsini öyrənən alimlər öz nəzəriyyələrini bir nümunə — bizim Günəş sistemi-üzərində əsaslandırırdılar. Lakin hal-hazırda onlarla doğulan və artıq formalaşmış onlarla planet sistemləri aşkar olunmuşdur və həm də onların arasında iki eyni olanı yoxdur.
Planetlərin əmələ gəlməsinin aparıcı nəzəriyyələrinin əsas ideyası belədir: xırda tozcuqlar birləşir və qazı tuturlar. Lakin bu proseslər mürəkkəb və qarma-qarışıqdır. Bir-biri ilə rəqabət aparan mexanizmlərin yarışması tamamilə müxtəlif nəticələrə gətirə bilər.
 Baxmayaraq ki, alimlər mübahisə etməyi davam etdirirlər, əksəriyyət ardıcıl akkresiya senarisini daha ehtimallı hesab edirlər.[2]

Planet əmələ gəlmənin mərhələsi
Ulduzlararası bulud sıxılır

{% endblock %}